@(agent : Agent,message : String,alertInfo : String )
@import views.html.agent._
@import common.PSError

@agentDashboardTemlate("Proposed Society - Change Password",Seq(),Seq(routes.Assets.at("js/change_password.js")), agent){
	
		
    <style type="text/css">
    
    	.fields {
    		margin: 40px auto;
    		border: 1px solid silver;
    		padding: 30px;
    		width: 400px;
    		border-radius: 10px;
    	
    	}
    	
    	.errorClass { 
    		border:  1px solid red;
    	 }

    </style>

		<form class="fields form-horizontal" method="post" action="@routes.UserController.changePassword">
			<h2>Change Password</h2><hr>
			@if(message != null){
				    <div class="alert @alertInfo">
                   	 		<button type="button" class="close" data-dismiss="alert">&times;</button>
                 	  		<p>@message</p>
               		 </div> 
			}
			<table class="fieldstable">
				<tr>
					<td><label class="fieldname required"> Old password </label></td>
					<td><input type="password" name = "oldPassword"  required="required" placeholder="old password"/></td>
				</tr>
				<tr>
					<td><label class="fieldname required"> New password </label></td>
					<td><input type="password" name = "newPassword"  required="required" placeholder="new password"/></td>
				</tr>
				<tr>
					<td><label class="fieldname required"> Confirm Password</label></td>
					<td><input type="password" name = "confirmPassword"  required="required" placeholder="new password"/></td>
				</tr>
			</table>
			<hr>
			 <div align="center">
			 	<a href="@routes.AgentDashboardController.agentDashboard" class="btn  btn-info" style="color:#ffffff" >Cancel</a>
             	<button type="submit" class="btn btn-info ">Change</button>
			 </div>
		</form>
		
	
}
