@(user: User,password:String)
<div style="padding: 20px; border: 1px solid #ddd; width: 400px; margin: 50px auto;">
	<div style="display: inline-block;align=center">
		<p style="text-align: center;">
		<img style="width: 200px; height: 150px;" src="http://www.proposedsociety.com/assets/images/logo-02.gif" alt="Proposed Society Logo"/>
		</p>
	</div>
	<div style="display: inline-block;align:center ">
		<p style="align:center ;font-size: 20px;text-align: center;">Hi, <br>
			Thanks for making a payment of Rs. 500/-. Your login id and password to login to the dashboard is :  <br>
			Login ID - <b>@user.email</b> <br>
			Password - <b>@password</b> <br>
			Thanks.
		</p>
	</div>
</div>
