<b>Hotel Plot/Industrial Land/Hotel Space/Hospital Space/School Space/Bank Space</b>
<br><br>

<label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : applyForm.plotArea.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.plotArea.$valid  && applyForm.$submitted}">
  <span class="input-label">Plot Area</span>
  <input type="number" name="plotArea" ng-model="user.requirement.plotArea"  placeholder="sq.ft." required>
</label>
<label class="item item-input" ng-if="applyForm.plotArea.$dirty && applyForm.plotArea.$invalid">
                <span style="color:#FA5858" ng-show="applyForm.plotArea.$dirty && applyForm.plotArea.$invalid">
                <span class="help-block" ng-show="applyForm.plotArea.$error.required || applyForm.plotArea.$error.number">"Enter valid value"</span>
                </span>
</label>

<label class="item item-input  " ng-class="{ 'has-errors' : applyForm.plotAreaMeasure.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.plotAreaMeasure.$valid  && applyForm.$submitted}">
  <select ng-model="user.requirement.plotAreaMeasure" name="plotAreaMeasure" required>
    <option value="Square Feet">Square Feet</option>
    <option value="Square Yard">Square Yard</option>
    <option value="Square Miles">Square Miles</option>
  </select>
</label>


<label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : applyForm.builtupArea.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.builtupArea.$valid  && applyForm.$submitted}">
  <span class="input-label">Built up area required(sq.ft.)</span>
  <input type="number" name="builtupArea" ng-model="user.requirement.builtupArea"  placeholder="sq.ft." required>
</label>
<label class="item item-input" ng-if="applyForm.builtupArea.$dirty && applyForm.builtupArea.$invalid">
                <span style="color:#FA5858" ng-show="applyForm.builtupArea.$dirty && applyForm.builtupArea.$invalid">
                <span class="help-block" ng-show="applyForm.builtupArea.$error.required || applyForm.builtupArea.$error.number">"Enter valid value"</span>
                </span>
</label>

<div class="item item-divider">
  Required Numbers of Bedrooms
</div>
<label class="item item-input item-select">
  <div class="input-label">
    &nbsp;
  </div>
  <select ng-model="user.requirement.noOfRoomsRequired">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">Specify Area For Each Room(Sq.ft.)</span>
  <input type="number" ng-model="user.requirement.areaForEachRoom" placeholder="sq.ft.">
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">Use of the Land/Plot</span>
  <input type="number" ng-model="user.requirement.useOfLand"  placeholder="">
</label>

<label class="item item-input">
  <input type="text" ng-model="user.requirement.otherDetails" placeholder="Other Details(If required)">
</label>

<br>

 