<b>If Flat/Terrace Flat/Duplex Flat/Second Home</b>
<br><br>

			 <label class="item item-input item-select" ng-class="{ 'has-errors' : applyForm.flatType.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.flatType.$valid  && applyForm.$submitted}">
                <div class="input-label">
                  Type of Flat 
                </div>
                <select ng-model="user.requirement.subType" id="flatType" name="flatType" required >
                  <option value="1RK" >1RK</option>
                  <option value="1bhk">1bhk</option>
                  <option value="2bhk">2bhk</option>
                  <option value="3bhk">3bhk</option>
                  <option value="4bhk">4bhk</option>
                  <option value="other">other</option>
                </select>
              </label>

  <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : applyForm.carpetArea.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.carpetArea.$valid  && applyForm.$submitted}">
    <span class="input-label">Carpet Area required(sq.ft.)</span>
    <input type="number" name="carpetArea" ng-model="user.requirement.carpetArea" placeholder="sq.ft." required>
  </label>
<label class="item item-input" ng-if="applyForm.carpetArea.$dirty && applyForm.carpetArea.$invalid">
                <span style="color:#FA5858" ng-show="applyForm.carpetArea.$dirty && applyForm.carpetArea.$invalid">
                <span class="help-block" ng-show="applyForm.carpetArea.$error.required || applyForm.carpetArea.$error.number">"Enter valid value"</span>
                </span>
</label>

  <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : applyForm.builtupArea.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.builtupArea.$valid  && applyForm.$submitted}">
    <span class="input-label">Built up area required(sq.ft.)</span>
    <input type="number" name="builtupArea" ng-model="user.requirement.builtupArea"  placeholder="sq.ft." required>
  </label>
<label class="item item-input" ng-if="applyForm.builtupArea.$dirty && applyForm.builtupArea.$invalid">
                <span style="color:#FA5858" ng-show="applyForm.builtupArea.$dirty && applyForm.builtupArea.$invalid">
                <span class="help-block" ng-show="applyForm.builtupArea.$error.required || applyForm.builtupArea.$error.number">"Enter valid value"</span>
                </span>
</label>

  <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : applyForm.terraceArea.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.terraceArea.$valid  && applyForm.$submitted}">
    <span class="input-label">Terrace area required in carpet(sq.ft.)</span>
    <input type="number" name="terraceArea" ng-model="user.requirement.terraceArea"  placeholder="sq.ft." required>
  </label>
<label class="item item-input" ng-if="applyForm.terraceArea.$dirty && applyForm.terraceArea.$invalid">
                <span style="color:#FA5858" ng-show="applyForm.terraceArea.$dirty && applyForm.terraceArea.$invalid">
                <span class="help-block" ng-show="applyForm.terraceArea.$error.required || applyForm.terraceArea.$error.number">"Enter valid value"</span>
                </span>
</label>


<div class="item item-divider">
  Specify Numbers of Toilet/WC/Bath
</div>
<label class="item  ">
  No Extra Requirement : <input type="radio" name="groupNoTWB" value="AsPerPlan" ng-model="user.requirement.toiletWcBathRequirements" >

</label>

<label class="item  ">
  Required : <input type="radio" name="groupNoTWB" value='Required' ng-model="user.requirement.toiletWcBathRequirements">

</label>
<label class="item item-input item-select" ng-if="user.requirement.toiletWcBathRequirements == 'Required'" ng-class="{ 'has-errors' : applyForm.noOfCommonToilets.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.noOfCommonToilets.$valid  && applyForm.$submitted}">
  <div class="input-label">
    common toilets
  </div>
  <select ng-model="user.requirement.noOfCommonToilets" name="noOfCommonToilets" required>
    <option value="" selected>Select</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</label>
<label class="item item-input item-select" ng-if="user.requirement.toiletWcBathRequirements == 'Required'" ng-class="{ 'has-errors' : applyForm.noOfSeparateWc.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.noOfSeparateWc.$valid  && applyForm.$submitted}">
  <div class="input-label">
    separate WC
  </div>
  <select ng-model="user.requirement.noOfSeparateWc" name="noOfSeparateWc" required>
    <option value="" selected>Select</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</label>
<label class="item item-input item-select" ng-if="user.requirement.toiletWcBathRequirements == 'Required'" ng-class="{ 'has-errors' : applyForm.noOfSeparateBathroom.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.noOfSeparateBathroom.$valid  && applyForm.$submitted}">
  <div class="input-label">
    separate Bathroom
  </div>
  <select ng-model="user.requirement.noOfSeparateBathroom" name="noOfSeparateBathroom" required>
    <option value="" selected>Select</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</label>

<label class="item item-input item-select" ng-class="{ 'has-errors' : applyForm.choiceOfFloor.$invalid  && applyForm.$submitted, 'no-errors' : applyForm.choiceOfFloor.$valid  && applyForm.$submitted}">
  <div class="input-label">
    Choice of Floor
  </div>
  <select ng-model="user.requirement.choiceOfFloor" name="choiceOfFloor" required>
    <option value="0">Ground</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
  </select>
</label>

<label class="item item-input">
  <input type="text" ng-model="user.requirement.otherDetails" placeholder="Other Details(If required)">
</label>

<br>

 