@(code: PaymentCode)

@import views.helpers.DateFormatHelper._

<div style="width: 400px;">
	<img src="http://proposedsociety.com/assets/images/logo-02.gif" style="display: block; margin: 5px auto;"/>
	<p>Thanks for showing interest in ProposedSociety! Please note your Payment Code. You can use this code as an alternative to physical payment on the site after filling up the application form.</p>
	<table style="width: 100%; border: 1px solid black; margin: 5px auto;">
         <tr>
             <td>Issue Time</td>
             <td>@formatDate("dd/MM/yyyy HH:mm a", code.generationTime)</td>
         </tr>
         <tr>
             <td>Name</td>
             <td>@code.name</td>
         </tr>
         <tr>
             <td>Email</td>
             <td>@code.email</td>
         </tr>
         <tr>
             <td>Mobile</td>
             <td>@code.mobile</td>
         </tr>
         <tr>
             <td>Amount</td>
             <td>Rs. @code.amount</td>
         </tr>
         <tr>
             <td>Unique Payment Code</td>
             <td><span style="font-weight: bold; font-size: 18px;">@code.code</span></td>
         </tr>
     </table>
</div>