@(url: String, params: Map[String, String])

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Payment</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")"></link>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/paymentredirect.css")"></link> 
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>	
		<style>
			#redirector select, #redirector input {
				line-height: 20px;
			}
		</style>
	</head>
	<body>
		<div id="content">
			<img src="@routes.Assets.at("images/logo.png")"/>
			<p>WARNING: This is a mock payment gateway. Please chose success or failure to simulate a successful or failed payment repsectively</p>
			<form id="redirector" action="@url" method="POST">
				@params.toSeq.map { param =>
					<input type="hidden" name="@param._1" value="@param._2" /> 
				}
				<select name="status">
	    			<option value="Y">Success</option>
				    <option value="N">Failure</option>
				</select>			
				<input type="submit" value="Proceed" />
			</form>
		</div>
		<script>
			/*$(document).ready(
				function () {
					$("#redirector").submit();
				}
			);*
		</script>
	</body>
</html>