@(user: User)

@mainTemplate("Proposed Society - Terms & Conditions", user){
	<h1>APPLICANT’S TERMS & CONDITIONS</h1>
	<hr/>
	<ol>
			<li>The applicant applying for this concept must be of sound mind and of or above 18 years of age.</li>
			<li>Application for the concept is to be made online, through the form available on our website, and it is mandatory to pay the stipulated non-refundable form–processing fee of five hundred rupees per application along with the application form.</li>
			<li>Until the form–processing fee of five hundred rupees is paid the application shall be treated as invalid.</li>
			<li> The applicants can withdraw their applications if and when they so desire but processing fees partly or fully of five hundred rupees shall not be refunded. However, once the application is withdrawn, the applicant shall not be eligible to reapply within one month from the date of withdrawal, and the company shall not give priority to their fresh applications over the existing valid applications of other eligible applicants.</li>
			<li>Only one application per applicant will be accepted; the application will be valid only for a single property.</li>
			<li>The applicants whose applications have been cancelled, rejected or withdrawn as per the terms & conditions of the company shall be eligible to reapply only after 30 days from the date of the cancellation of their applications. </li>
			<li>It is mandatory for the applicant even again to pay the non-refundable form processing fee of Rupees five hundred only while reapplying for the concept.</li>
			<li>Although the applicant has paid the consideration amount partly or fully, the applicant will be treated as applicant and not as applicant until is allotted with property.</li>
			<li>The applicants will be declared as applicant’s of the proposed society after the budget has been fixed and property allotment has been confirmed.</li>
			<li> The applicants need to check the status of their respective applications for the concept atleast once in three months; otherwise, it will be deemed that the applicants are not interested in the scheme and their applications are liable to be cancelled. Hence, applicant has to re-apply and one shall be treated as new applicant.</li>
			<li>Applicant need to fill mandatory information initially to register but to complete the process, applicant needs to fill complete application form within 30 days of registration or else application will not be considered as a valid application.</li>
		
	</ol>	

}
