@(user: User, message: String, alertmsg:String, accessRole:String = null)

@baseDashboardTemplate("Change Password",Seq(),Seq(),user){
	<h1> Change Password </h1>
	<hr/>
	
	<form  method="POST"  action=changePassword  class="cms" style="margin:10px auto;min-height:500px; min-width:400px;">
	    <div>
	    	@if(alertmsg == "error"){
		  		<div class="alert alert-error" style="margin:10px auto; width:300px;">
            		<button type="button" class="close" data-dismiss="alert">&times;</button>
          	 		@message
         		</div>
        	}else{ 
        		@if(alertmsg == "success"){
        			<div class="alert alert-success" style="margin:10px auto; width:300px;">
            			<button type="button" class="close" data-dismiss="alert">&times;</button>
          	 			@message
         			</div>
        		}
        	}	
	  		<table id="changePassword" class="fieldstable" align="center"  >
				<tr>
					<td><label class="fieldname">Enter Old Password</label></td>
					<td><input type="text" name="oldPassword" id="oldPassword"></td>
				</tr>
				<tr>	
					<td><label class="fieldname">New Password</label></td>
					<td><input type="text" name="newPassword" id="newPassword" ></td>
				</tr>
				<tr>	
					<td><label class="fieldname">Confirm Password</label></td>
					<td><input type="text" name="confirmPassword" id="confirmPassword" ></td>
				</tr>	
				<tr>
					<td></td>
					<td class="span2" align="right"><button type="submit" class="btn btn-medium btn-pink">SAVE</button></td>
				</tr>	
			</table>
			
		</div>
	</form>
 }
