@(req : Form[Requirement])

@import helper.FieldConstructor

@implicitFormHelper = @{ FieldConstructor(persInfoFieldTemplate.f) }

<div id="chawlRequirement">
	<table id="chawlRoomTable" class="fieldstable">
	    <tr>
	        <td style="width:300px;"><h4>If Chawl Room</h4></td>
	    </tr>
	    <tr>
	        <td style="width:300px;"><label>Type of Chawl Room</label></td>
	        <td>@helper.select(req("subType"), options = helper.options(
	            "1RK" -> "1RK",
	            "1bhk" -> "1bhk",
	            "2bhk" -> "2bhk",
	            "other" -> "other"
	            ), 'class -> "input-medium")
	        </td>
	    </tr>
	    <!--<tr><td><label>TODO: If drop down Selection is "Other", then only following textbox appears.</label></td>
	    </tr>
	    -->
	    <tr id="chawl_ifChawlTypeOtherTR">
	        <td style="width:300px;"><label>Specify Type of Chawl Room</label></td>
	        <td>@helper.inputText(req("ifChawlTypeOther"), 'class -> "input-medium", 'maxlength -> "8")</td>
	    </tr>
	    <tr>
	        <td style="width:300px;"><label>Carpet Area required(sq.ft.)</label></td>
	        <td>@helper.inputText(req("carpetArea"), 'class -> "input-medium", 'maxlength -> "9")</td>
	    </tr>
	    <tr>
	        <td style="width:300px;"><label>Built up area required(sq.ft.)</label></td>
	        <td>@helper.inputText(req("builtupArea"), 'class -> "input-medium", 'maxlength -> "9")</td>
	    </tr>
	    <tr>
	        <td style="width:300px;"><label>Terrace carpet area required(sq.ft.)</label></td>
	        <td>@helper.inputText(req("terraceArea"), 'class -> "input-medium", 'maxlength -> "9")</td>
	    </tr>
	    <tr>
	        <td style="width:300px;"><label>Specify Numbers of Toilet/WC/Bath</label></td>
	        <td class="ReqVerticalRad">@form.verticalRadioGroupTool(req("toiletWcBathRequirements"), options = Seq("AsPerPlan" -> "No Extra Requirement, as per planning only", "Required" -> "Required"), checkedItem = "AsPerPlan")</td>
	    </tr>
	    <tr class="hideItClass chawl_toiletWcBathClass">
	        <td style="width:300px;"><label>common toilets</label></td>
	        <td>@helper.select(req("noOfCommonToilets"), options = helper.options("0" -> "0",
	        	"1" -> "1",
	            "2" -> "2",
	            "3" -> "3",
	            "4" -> "4",
	            "5" -> "5",
	            "6" -> "6",
	            "7" -> "7",
	            "8" -> "8",
	            "9" -> "9",
	            "10" -> "10"
	            ), 'class -> "input-small")
	        </td>
	    </tr>
	    <tr class="hideItClass chawl_toiletWcBathClass">
	        <td style="width:300px;"><label>separate WC</label></td>
	        <td>@helper.select(req("noOfSeparateWc"), options = helper.options("0" -> "0",
	        	"1" -> "1",
	            "2" -> "2",
	            "3" -> "3",
	            "4" -> "4",
	            "5" -> "5",
	            "6" -> "6",
	            "7" -> "7",
	            "8" -> "8",
	            "9" -> "9",
	            "10" -> "10"
	            ), 'class -> "input-small")
	        </td>
	    </tr>
	    <tr class="hideItClass chawl_toiletWcBathClass">
	        <td style="width:300px;"><label>separate Bathroom</label></td>
	        <td>@helper.select(req("noOfSeparateBathroom"), options = helper.options("0" -> "0",
	        	"1" -> "1",
	            "2" -> "2",
	            "3" -> "3",
	            "4" -> "4",
	            "5" -> "5",
	            "6" -> "6",
	            "7" -> "7",
	            "8" -> "8",
	            "9" -> "9",
	            "10" -> "10"
	            ), 'class -> "input-small")
	        </td>
	    </tr>
	    <tr>
	        <td style="width:300px;"><label>Other Details(If required)</label></td>
	        <td>@helper.inputText(req("otherDetails"), 'class -> "input-medium", 'maxlength -> "50")</td>
	    </tr>
	</table>
	<script>
		$(document).ready(hideShowBathRequirementClass('hideItClass'));
	</script>
</div>	