@(dependentsData: List[Dependent],
isApplcnt: Boolean)
<div id="dependentDiv">
	@if(dependentsData != null && !dependentsData.isEmpty()) {
		<table id="viewDependents" class="table table-striped">
			<tr>	
				<th class="leftAlignClass">Title</label></th>
				<th class="leftAlignClass">First Name</th>
				<th class="leftAlignClass">Middle Name</th>
				<th class="leftAlignClass">Last Name</th>	
				<th class="leftAlignClass">Relation With Applicant</th>
				<th></th>
			</tr>
				@for(dpndnt <- dependentsData) {
				  	<tr>
						<td>@fieldVal(dpndnt.dep_title,"NA")</td>
						<td>@fieldVal(dpndnt.dep_fname,"NA")</td>
						<td>@fieldVal(dpndnt.dep_mname,"NA")</td>
						<td>@fieldVal(dpndnt.dep_lname,"NA")</td>
						<td>@fieldVal(dpndnt.dep_relation,"NA")</td>
						@if(dpndnt.id != null){
							<td class="rightAlignClass"><input type="button" id="btnDependentDelete" class="btn btn-mini btn-danger " onclick="deleteDependentFromList(@dpndnt.id,@isApplcnt)" value="X" style="font-weight: bold;"></td>
						}
					</tr>
				}
		</table>
	}
	<p id="dependent_notify"></p>
</div>

@fieldVal(field: Object,defaultVal: String) = {
	@if(field != null) {
		@field	
	}else{
		@defaultVal
	}
}