@(user: User)

@mainTemplate("Proposed Society - Draw", user) {
	<!-- PG_CONTNET -->
	<div id="pg_content">
		<div class="container"><!-- InstanceBeginEditable name="content_area" -->
			<div class="wrapper">
				<!-- Main Banner -->
				<div id="main_banner">
					<img src="@routes.Assets.at("images/content/banner_medium-01.jpg")" alt="Banner Medium">
				</div><!-- end main_banner -->
				<!-- content area -->
				<div id="content_area">
					<div class="row">
						<div class="span8">
							<div class="cms">
								<h1>Draw</h1>
								<p class="subtitle">Rules and Regulations for Lucku Draw</p>
								<hr>
								<p>Lucky draw will be conducted after receiving every 1000 completed eligible forms under the scheme of 'Builder Society's Promoter'. After getting 1000 complete eligible forms, within a month lucky draw for 5 gold coins and 10 silver coins will be conducted in front of selected applicants who filled the form. There is no minimum time limit. You can fill up the form online or download the Application form, from our website and send it to our office address. Form should be filled completely and along with that required documents (Residential Proof / Address Proof / Identity proof / Income Proof - Pay slip / IT return / 2 Photo / Bank statement) should be submitted to get the eligibility.</p>
								<p>Pay Rupees Fifty for each by Cash / Cheque / DD / Money order / Online Transfer or can be paid directly in our shown bank account IDBI Bank, Branch-CBD-Belapur, A/c. No. 0183102000007573 and send us the paid challan by email - <a href="mailto:contact@@proposedsociety.com">contact@@proposedsociety.com</a>. Only those who have paid above amount and fill the application form properly will be validated from our office and after receiving our confirmation of your validation, you will be considered and become eligible for the draw and valid applicant for proposed society scheme. Otherwise you will not be considered for the lucky draw and will not be eligible for any benefits of this scheme. Applicant should be above 18 years.<br>
								</p>
								<p>One person can fill only one Application Form for one property. if you want apply for more than one property you have to file separate application form with proof of your financial capacity to purchase more than one property. The applicant should follow the time to time terms and conditions of the company. Company reserves the right to change or alter the terms and conditions.</p>
								<p>To get the updates of Lucky Draw and declaration, please visit our website - <a href="http://www.proposedsociety.com">www.proposedsociety.com </a>regularly. Any inquiry or details please call - 9820431017 / 9167213907 / 9167314455. </p>
							</div>
						</div>
						<div class="span4">
							<div class="advert"><a href="@routes.Application.becomeAnAgent"><img src="@routes.Assets.at("images/content/banner-become_agent.jpg")" alt="Become an Agent"></a></div>
							<!-- #BeginLibraryItem "../../Library/Membership_for_inner_pages.lbi" -->
							<!-- #EndLibraryItem -->
							<div class="advert"><a href="#"><img src="@routes.Assets.at("images/content/banner-sell_land.jpg")" alt="Sell Land"></a></div>
						</div>
					</div>
				</div><!-- ends contnet area -->
			</div>
		<!-- InstanceEndEditable --></div>
	</div><!-- end page content -->

}