@(user: User)
@mainTemplate("Proposed Society - FAQs", user){
	<script>
	function showpara(id) {
		$("p").hide();
		$("#"+id).toggle();
	}
	</script>

	<h1>FAQs for Applicant:-</h1>
	<hr/>
		<ol class="phide">
		<li><a id="a1" onclick="showpara('p1');"; > Whether five hundred rupees is earnest money towards the property?</a></a><br/>
		<p style="display:none" id="p1">Ans -	No</p></p></li>

		<li><a id="a1" onclick="showpara('p2')";>	In what respect the concept ‘Builder Society’s Promoter’ is innovative and discrete?</a><br/>
		<p style="display:none" id="p2">Ans - 	Other people Construct the building as per their wish and adjust the property within your budget but we provide you home/property, on balancing the property demands and your budget.</p></li>

		<li><a id="a1" onclick="showpara('p3')";>	By using your concept minimum how much the property cost can be reduced?</a><br/>
		<p style="display:none" id="p3">Ans.:- 	It is dependent on the Proposed Land Location, Amenities, Demand of the Majority Applicant and Available Payment Schedule, the property cost can be reduced near about 20% or above. </p></li>      

		<li><a id="a1" onclick="showpara('p4')";>  	When I come to know this reduced property cost?</a><br/>
		<p style="display:none" id="p4">Ans.:- Before taking booking amount.</p></li>

		<li><a id="a1" onclick="showpara('p5')";> 	If I do not have Debit Card/Credit Card/ Bank Account with E-Payment facilities how can I pay form processing fees or make monetary transaction with Company?</a><br/>
		<p style="display:none" id="p5">Ans.:- 	Apply through Company’s Authorised Agent and obtain the online receipt only. The agent’s personal receipt would not be valid.</p></li>

		<li><a id="a1" onclick="showpara('p6')";>  	Whether I am paying rupees five hundred for membership of proposed housing society?</a><br/>
		<p style="display:none" id="p6">Ans.:-   	No, this is only non-refundable form processing fees.</p></li>

		<li><a id="a1" onclick="showpara('p7')";>   	Whether I am paying five hundred rupees for allotment of property?</a><br/>
		<p style="display:none" id="p7">Ans.:-   	No, this is only non-refundable form processing fees.</p></li>

		<li><a id="a1" onclick="showpara('p8')";> 	Why the Company requires in the Concept Application Form our informations regarding Loan, EMI,F.D., R.D., Existing Property details, Insurance etc.,</a><br/>
		<p style="display:none" id="p8">Ans.:- 	For calculating One’s Exact Budget and eligibility to Loan.</p></li>

		<li><a id="a1" onclick="showpara('p9')";> 	What is AVC unit?</a><br/>
		<p style="display:none" id="p9">Ans.:- 	This is the System of way of transaction between agent and Company. If you do not have Credit card/Debit Card/E-payment facilities then you can pay the application processing fees through AVC unit available with authorized Agent of the Company.</p></li>

		<li><a id="a1" onclick="showpara('p10')";> 	What is ‘Builder Society’s Promoter’?</a><br/>
		<p style="display:none" id="p10">Ans.:- 	Please read Concept and Benefit on home page.</p></li>

		<li><a id="a1" onclick="showpara('p11')";> 	Whether our all expectations in respect of amenities and facilities can be considered and provided?</a><br/>
		<p style="display:none" id="p11">Ans.:- Under our Concept the building is developed as per the common demands of the majority Applicant. Your majority demands will be fulfilled upto the extent of your expectations. Maximum demands will be as per your requirements, some negligible demands you have to adjust as per Group requirements.</p></li>

		<li><a id="a1" onclick="showpara('p12')";> 	How long time I have to wait for property?</a><br/>
		<p style="display:none" id="p12">Ans.:- Until the majority applicant for same location and same amenities are grouped together.</p></li>

		<li><a id="a1" onclick="showpara('p13')";> 	When I will get the ‘Membership’ of ‘Proposed Housing Society’?</a><br/>
		<p style="display:none" id="p13">Ans.:- 	Until the majority of property unit is booked on majority demands.</p></li>

		<li><a id="a1" onclick="showpara('p14')";>  	What do you mean by dependents on applicant?</a><br/>
		<p style="display:none" id="p14">Ans – 	The family members of the applicant whose livelihood is depend on applicant is called dependent on applicant.</p></li>

		<li><a id="a1" onclick="showpara('p15')";> 	Is it required to fill the details of loan on applicant?</a><br/>
		<p style="display:none" id="p15">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p16')";> 	Is the information filled by me secured with you?</a><br/>
		<p style="display:none" id="p16">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p17')";> 	Is it required to fill the details of fixed deposit?</a><br/>
		<p style="display:none" id="p17">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p18')";> 	Is it required to fill the details of recurring deposit?</a><br/>
		<p style="display:none" id="p18">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p19')";> 	Is it required to fill the details of bank deposit?</a><br/>
		<p style="display:none" id="p19">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p20')";> 	Is it required to fill the details of Insurance details?</a><br/>
		<p style="display:none" id="p20">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p21')";> 	Is it required to fill the details of bank account details?</a><br/>
		<p style="display:none" id="p21">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p22')";> 	What do you mean by ‘Borrowing details’?</a><br/>
		<p style="display:none" id="p22">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p23')";> 	Is it required to fill the details of Existing property?</a><br/>
		<p style="display:none" id="p23">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p24')";> 	Is it required to fill the details of cash with me?</a><br/>
		<p style="display:none" id="p24">Ans – 	To calculate exact budget amount and loan eligibility of applicant.</p></li>

		<li><a id="a1" onclick="showpara('p25')";> 	When will I get call from your company regarding property? How and When I contact the company ?</a><br/>
		<p style="display:none" id="p25">Ans – Company itself will contact you soon after submitting the form only through your login dashboard. You can check your application status whenever you want but it is compulsive to check your application status in your dashboard once in three months otherwise your application will be rejected. The company will intimate you about the interview or meeting through SMS/ Email.</p></li>

		<li><a id="a1" onclick="showpara('p26')";> 	Will I get my five hundred rupees back if I withdraw my membership?</a><br/>
		<p style="display:none" id="p26">Ans – 	Five hundred rupees is not refundable. If you are not interested you can withdraw your application as and when you want otherwise company will reject your application after three months.</p></li>

		<li><a id="a1" onclick="showpara('p27')";> 	How long time period my application will be valid?</a><br/>
		<p style="display:none" id="p27">Ans – 	Until you withdraw your application or company get reject your application after three months if you fail to login your dashboard once in three months.</p></li>

		<li><a id="a1" onclick="showpara('p28')";> 	Will you help me for home loan?</a><br/>
		<p style="display:none" id="p28">Ans – 	Surely, company will help and get concluded your eligibility and take the tentative loan approval as per your financial capacity from financial institution and company’s experts.</p></li>

		<li><a id="a1" onclick="showpara('p29')";> 	Do you have any tie-ups with financial institutions for home loan?</a><br/>
		<p style="display:none" id="p29">Ans – 	Company will suggest suitable banking institutions according to proposed group demand.</p></li>

		<li><a id="a1" onclick="showpara('p30')";> 	What do you mean by development charges?</a><br/>
		<p style="display:none" id="p30">Ans -	Development charges means and includes local authority development charges electric and water connection taxes applied by the government and necessary other charges etc., applicable time to time.</p></li>

		<li><a id="a1" onclick="showpara('p31')";> 	Can I take printout of form?</a><br/>
		<p style="display:none" id="p31">Ans – 	Yes, get the download button in the form.</p></li>

		<li><a id="a1" onclick="showpara('p32')";> 	What do you mean by dashboard?</a><br/>
		<p style="display:none" id="p32">Ans – 	Dashboard means the window which can be open by using login ID and password to access the account, to see the application status and this is the arrangement made by the company to communicate with the applicant.</p> </li>
		</ol>
}