@(user: User)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en"><!-- InstanceBegin template="../../Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
@head("Proposed Society - Welcome to Proposed Society", false) {
	<script src="@routes.Assets.at("js/home.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/json2.js")" type="text/javascript"></script>
}

<body>
	<!-- HEADER -->
	@header(user)

	<!-- Page content -->

	<div id="pg_content">
		<div class="container"><!-- InstanceBeginEditable name="content_area" -->
			<div class="wrapper">
				<div id="main_banner">
					<div class="row">
						<div class="span8">
							<h2 class="hide-text">Heading Content for Main Banner</h2>
							<div id="intro">
								<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  width="200" height="100" id="simplemovie" align="middle">
		 							<param name="movie" value="@routes.Assets.at("flash/flash-1-slow.swf")"> 
									<param name="quality" value="high"> 
									<param name="bgcolor" value="#FFFFFF">
									<param name="wmode" value="transparent"> 
									<param name="play" value="true">
									<param name="loop" value="true">
									<param name="pluginspage" value="http://www.adobe.com/go/getflash">
									<param name="scale" value="showall"/>
									<param name="menu" value="false"/>
									<param name="devicefont" value="false"/>
									<param name="salign" value=""/>
									<param name="allowScriptAccess" value="sameDomain"/>
		 							<embed 
		 								play = "true" 
		 								src="@routes.Assets.at("flash/flash-1-slow.swf")" 
			 							wmode="transparent" 
			 							swliveconnect="true" 
			 							quality="high"
			 							bgcolor="#FFFFFF"
			 							width="680" height="335" 
			 						    name="simplemovie" 
			 							align="middle" 
			 							type="application/x-shockwave-flash" 
			 							pluginspage="http://www.adobe.com/go/getflash"
			 							loop="true"
			 							rewind="true"
			 							scale="showall"
			 							menu="false"
			 							allowScriptAccess="sameDomain"
			 						>
							</object>
								
							</div>
						</div>
						<div class="span4">
							<div class="membership">
								<h2 class="highlighted">Important Links</h2>
								<div class="nano">
									<ul class="member_data content">
										<li><a href="@routes.Application.locateAgent">Locate Our Agent</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end main_banner -->
				<div id="intro_box">
					<div id="intro_heading">
						<div class="marquee">
							<p>The most important benefit of this scheme is that the property will cost up to 20% less or even lesser than that compared to the current market rate of that time with at location and same amenities. Initially, company will execute projects under this concept within Mumbai, Navi Mumbai, Thane and Raigad districts only.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
						</div>
					</div>
					<div class="intro_txt">
						<div class="content cms" style="display:none;">
							<div class="row-fluid">
								<div class="span7">
									<h4>CONCEPT INTRODUCTION</h4>
									<h4>Hello Friends,<h4>
									<p>We, M/s. Bhawani Vikasak (I) Pvt. Ltd. a reknown company serving Real Estate Industry since year 2000. We always try to reduce cost and provide property as per expectations. By research the company has introduce new concept - <b>‘Builder Society’s</b> Promoter’ through this website - proposedsociety.com. </p>
									<p>Among the basic needs of human beings, shelter is the most expensive one and nowadays it is not only a basic need but also a popular mode of investment. However, a lot of precious time is wasted in searching desirable property at a lowest rate and unfortunately sometimes one has to even face the losses. Apart from this, although one decides to build a home or property by investing time and using technology, success seems difficult to achieve. As another option of owning a home or property, if one acquires it directly from a builder, unfulfilled expectations keep him haunting and one is faced with a continuous sense of dissatisfaction. If one chooses to construct a building by forming a society along with friends and relatives, the lack of - sufficient finance, technical knowledge, professional experience and trust on the chief promoter prevents success and leads to consequent monetary loss. </p>
								</div>
								<div class="span5">
									<p>&nbsp;</p>
									<p class="highlight" style="text-align:left;"><h4>Alas! many homes are vacant and many people are homeless.<h4>
									<p>The financial constraints prevent one’s dream from being materialised. It is as if there is no avenue all the doors seem closed, and even if one shares one’s dream with others, they may lack the desire or requisite capability to help him/her fulfill the expectation. But now your dream home can be a reality through our innovative concept. Through this concept, we support to provide shelter to those who never dream of it, thus we maintain the balance between demand and supply. </p>
									<p>To understand this unique concept go through this website thoroughly and fill up the form to fulfill your demands better.</p> 
									<P>Please do not apply for instant property requirement.</P>
									</p>
								</div>
							</div>
						</div>
						<a href="#" class="know_more">Know More</a> </div>
				</div>
				<!-- end intro_box -->
				<div id="features">
					<div class="row">
						<div class="span4">
							<div id="vip_members" class="members">
								<div class="heading">
									<h3>VIP applicants</h3>
									<!-- <a href="#" class="view_all">View All</a> -->
								</div>
						<div class="nano nano_member">
							<div class="content smoothSlider" style="height :auto;">
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/vijay_nahata.gif")" alt="Vijay Nahata" class="p"></div>
											<div class="span7">
												<h4>Hon. Mr. Vijay Nahata<span>(IAS)</span></h4>
												<p>Divisional Commissioner,Konkan Division, Govt. of Maharashtra</p>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/Arun-Gujrathi-copy.jpg")" alt=" Arun Gujrathi" class="p"></div>
											<div class="span7">
												<h4>Hon. Mr. Arun Gujrathi<span>(IAS)</span></h4>
												<p>Ex. Speaker of Maharashtra Legislative Assembly</p>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/oac-6-1.gif")" alt=" Sanjay Pattiwar" class="p"></div>
											<div class="span7">
												<h4>Hon. Mr. Sanjay Pattiwar<span>Additional Commissioner,</span></h4>
												<p>Navi Mumbai Muncipal Corporation</p>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/Londhe.jpg")" alt=" Sharad B. Londhe"class="p"></div>
											<div class="span7">
												<h4>Hon. Mr. Sharad B. Londhe<span>MANAGING DIRECTOR,</span></h4>
												<p>OBS Mahamandal</p>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/vijay chougale.jpg")" alt=" Sharad B. Londhe"class="p"></div>
											<div class="span7">
												<h4>Hon. Mr. Vijay Chougule<span>Leader, Shivsena</span></h4>
												<p>District Head, Navi Mumbai</p>
											</div>
										</div>	
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/Shri._P_.L._SANDANSHIV_ACP..jpg")" alt=" Mr. Sandanshiv" class="p"></div>
											<div class="span7">
												<h4>Hon. Mr. Sandanshiv<span>Rtd. Assistant Commissioner of Police</span></h4>
												
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/ujval_nikam.jpg")" alt="Ujval Nikam" class="p"></div>
											<div class="span7">
												<h4>Ujval Nikam<span>Advocate</span></h4>
												<p>Indian criminal lawyer popular for being Public Prosecutor in various cases like 1993 Bombay blasts.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="span4">
							<div id="recent_members" class="members">
								<div class="heading">
									<h3>Recent applicants</h3>
									<!-- <a href="#" class="view_all">View All</a> -->
								</div>
								<div class="nano nano_member">
									<div class="content smoothSlider" style="height :auto;">
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/recentMember/rsz_ganesh_baviskar.jpg")" alt="Ganesh Baviskar "class="p"></div>
											<div class="span7">
												<h4>Ganesh Baviskar</h4><span>Kamothe</span>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/recentMember/rsz_sarfaraz_ansari.jpg")" alt="Sarfaraz Ansari "class="p"></div>
											<div class="span7">
												<h4>Sarfaraz Ansari </h4><span>Bhiwandi</span>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/recentMember/rsz_jyoti_desale.jpg")" alt="Jyoti Desale"class="p"></div>
											<div class="span7">
												<h4>Jyoti Desale </h4><span>Ghodgaon</span>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/recentMember/rupali-bangar.jpg")" alt="Rupali Bangar"class="p"></div>
											<div class="span7">
												<h4> Rupali Bangar </h4><span>Airoli</span>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/recentMember/sumedh_waghmare.jpg")" alt="Sumedh Waghmare"class="p"></div>
											<div class="span7">
												<h4>Sumedh Waghmare </h4><span>Airoli</span>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/recentMember/rsz_tushar_shetye.jpg")" alt="Tushar Shetye "class="p"></div>
											<div class="span7">
												<h4>Tushar Shetye  </h4><span>Ghodbandar,Thane</span>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span5"><img src="@routes.Assets.at("images/content/recentMember/rsz_vilas_karkhanis.jpg")" alt="Vilas Karkhanis"class="p"></div>
											<div class="span7">
												<h4>Vilas Karkhanis </h4><span>Thane</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="advert"><a href="@routes.Application.becomeAnAgent"><img src="@routes.Assets.at("images/content/banner-become_agent.jpg")" alt="Become an Agent"></a></div>
							<div class="advert"><a href="#" onclick="return false"><img src="@routes.Assets.at("images/content/banner-sell_land.jpg")" alt="Sell Land"></a></div>
						</div>
					</div>
				</div>
				<!-- end features -->
			</div>
		<!-- InstanceEndEditable --></div>
	</div><!-- end page content -->
	@footer()
	@if(user == null) {
		<div id="block_screen">
			<div class="blackout">&nbsp;</div>
			<div class="v_page_outer">
				<div class="v_page">
					<h1 class="logo">Proposed Society.com</h1>
					<div class="v_page_bottom">&nbsp;</div>
					<div class="v_page_inner">
						<ul id="vTab" class="nav nav-tabs">
							<li class="active"><a href="#new_visitor" data-toggle="tab">Visitor</a></li>
							<li><a href="#existing_visitor" data-toggle="tab">Existing Visitor</a></li>
							<li><a href="#current_member" data-toggle="tab">Applicants</a></li>
							<li><a href="#agent" data-toggle="tab">Agents</a></li>
						</ul>
						<div id="vTabContent" class="tab-content">
							<div class="tab-pane fade in active" id="new_visitor">
								<form class="form-horizontal">
									<p id="new_visitor_notify" class="text-info">Welcome to ProposedSociety.com for the first time, to fulfill your dreams! You must enter following details to view the website.</p>
									<div class="control-group">
										<label class="control-label" for="name">Name</label>
										<div class="controls">
											<input type="text" id="name" name="name" placeholder="Name">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="mobile">Phone Number</label>
										<div class="controls">
											<input type="text" id="mobile" name="mobile" placeholder="Phone Number" maxlength ="10" data-toggle="tooltip"  data-original-title="Please enter a valid mobile number. Mobile number will be validated by sending an authentication code to the same number.">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="email">Email</label>
										<div class="controls">
											<input type="text" id="email" name="email" placeholder="Email" maxlength="50" data-toggle="tooltip" data-original-title="Please enter a valid E-mail address. E-mail address will be validated by sending an authentication code to the same address.">
										</div>
									</div>
									<div class="control-group">
										<div class="controls">
											<button id="get_auth_code" type="submit" class="btn btn-info">Get Code</button>
										</div>
									</div>
								</form>
							</div>
							<div class="tab-pane fade" id="existing_visitor">
								<form class="form-horizontal">
									<p id="existing_visitor_notify" class="text-info">If you have visited this website before, please enter the authentication code that you received on your email or mobile, otherwise click on the Visitor tab to generate an authentication code.</p>
									<!-- <div class="alert alert-error fade in">
										<button type="button" class="close" data-dismiss="alert">×</button>
									</div> -->
									<div class="control-group">
										<label class="control-label" for="email">Email</label>
										<div class="controls">
											<input type="text" id="email" placeholder="Email">
										</div>
									</div>
									<div class="control-group" id="enterCodeDiv">
										<label class="control-label" for="authcode">Code</label>
										<div class="controls">
											<input type="password" id="authcode" placeholder="Authentication Code">
										</div>
									</div>
									<div class="control-group" id="forgetButtonGroup">
										<div class="controls">
											<button id="visitor_login_submit" type="submit" class="btn btn-success">Enter Site</button>
											<button id="visitor_show_forget_code_page" type="submit" class="btn btn-success">Forget Code</button>
										</div>
									</div>
									<div class="control-group" id="forgetSubmitButoon" style="display: none;">
										<div class="controls">
											<button id="visitor_forget_code_submit" type="submit" class="btn btn-success">Submit</button>
										</div>
									</div>
								</form>
							</div>
							<div class="tab-pane fade" id="current_member">
								<form class="form-horizontal">
									<p id="current_member_notify" class="text-info">If you are registered paid applicant by procedure, please enter your login id and password you received at the time of registration to access the dashboard or website.</p>
									<div class="control-group">
										<label class="control-label" for="email">User Name</label>
										<div class="controls">
											<input type="text" id="email" placeholder="Username or Email"></input>
										</div>
									</div>
									<div class="control-group" id="enterPasswordDiv">
										<label class="control-label" for="authcode">Password</label>
										<div class="controls">
											<input type="password" id="password" placeholder="Password"/>
										</div>
									</div>
									<div class="control-group" id="forgetButtonGroupApplicant">
										<div class="controls">
											<label class="checkbox">
												<input type="checkbox"> Remember me</input>
											</label>
											<button id="current_member_submit" type="submit" class="btn btn-success">Login</button>
											<button id="current_member_show_forget_password_page" type="submit" class="btn btn-success">Forget Password</button>
										</div>
									</div>
									<div class="control-group" id="forgetSubmitButtonApplicant" style="display: none;">
										<div class="controls">
											<button id="current_member_forget_password_submit" type="submit" class="btn btn-success">Submit</button>
										</div>
									</div>
								</form>
							</div>
							
							<div class="tab-pane fade" id="agent">
								<form class="form-horizontal">
									<p id="agent_notify" class="text-info">Please enter your email and password that we have sent you.</p>
									<div class="control-group">
										<label class="control-label" for="email">Email</label>
										<div class="controls">
											<input type="text" id="email" placeholder="Email"></input>
										</div>
									</div>
									<div class="control-group" id="enterPasswordDivAgent">
										<label class="control-label" for="authcode">Password</label>
										<div class="controls">
											<input type="password" id="password" placeholder="Password"/>
										</div>
									</div>
									<div class="control-group" id="forgetButtonGroupAgent">
										<div class="controls">
											<button id="agent_submit" type="submit" class="btn btn-success">Login</button>
											<button id="agent_show_forget_password_page" type="submit" class="btn btn-success">Forget Password</button>
										</div>
									</div>
									<div class="control-group" id="forgetSubmitButtonAgent" style="display: none;">
										<div class="controls">
											<button id="agent_forget_password_submit" type="submit" class="btn btn-success">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	<script>
		$(document).ready(setupHome);
	</script>
</body>
</html>