@(user: User)
 
@mainTemplate("Proposed Society - Inauguration", user){

<h1>Proposed Society Website Inauguration </h1>	<hr/>
	<div class="row-fluid">
		<ul class="thumbnails">
			<li class="span5"><a class="thumbnail fancybox-buttons" data-fancybox-group="button" href="@routes.Assets.at("images/content/IMG_01.jpg")">
				<img src="@routes.Assets.at("images/content/IMG_01.jpg")" alt="" />
			</a></li>
			<li class="span5"><a class="thumbnail fancybox-buttons" data-fancybox-group="button" href="@routes.Assets.at("images/content/IMG_2.jpg")">
				<img src="@routes.Assets.at("images/content/IMG_2.jpg")" alt="" />
			</a></li>
			<li class="span5"><a class="thumbnail fancybox-buttons" data-fancybox-group="button" href="@routes.Assets.at("images/content/IMG_2080.jpg")">
				<img src="@routes.Assets.at("images/content/IMG_2080.jpg")" alt="" />
			</a></li>
			<li class="span5"><a class="thumbnail fancybox-buttons" data-fancybox-group="button" href="@routes.Assets.at("images/content/IMG_2313.jpg")">
				<img src="@routes.Assets.at("images/content/IMG_2313.jpg")" alt="" />
			</a></li>
			<li class="span5"><a class="thumbnail fancybox-buttons" data-fancybox-group="button" href="@routes.Assets.at("images/content/IMG_3.jpg")">
				<img src="@routes.Assets.at("images/content/IMG_3.jpg")" alt="" />
			</a></li>
		</ul>
	</div>
	<hr/>
}

<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("js/fancyBox2/source/jquery.fancybox.css?v=2.1.5")"></link>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("js/fancyBox2/source/helpers/jquery.fancybox-buttons.css?v=2.1.5")"></link>

