@(invoice: Invoice)
@import helper.FieldConstructor

@implicitFormHelper = @{ FieldConstructor(persInfoFieldTemplate.f) }

@form.formTemplate("Applicant - Payment Details", 6, Seq(routes.Assets.at("stylesheets/applicant/form/payment.css"))) {
	<h1>Payment
		<a href="@routes.ApplicationFormController.summaryPage" class="btn btn-large btn-pink backBtn" style="color: white; "> Back</a>
	</h2>
	<hr/>
	<p class="message">Please pay the application fees to proceed with submission of your application. After the payment is confirmed, a password will be generated and emailed to you, which you can then use to login to the applicant dashboard and check status of your application.</p>
	<table class="payment-table">
		<tr>
			<td class="name">Name</td>
			<td>@invoice.user.name</td>
		</tr>
		<tr>
			<td class="name">Invoice Number</td>
			<td>@invoice.invoiceNumber</td>
		</tr>
		<tr>
			<td class="name">Details</td>
			<td>@invoice.description</td>
		</tr>
		<tr>
			<td class="name">Amount</td>
			<td class="amount">&#8377; @invoice.amount</td>
		</tr>
	</table>

	<div class="buttons"><a href="@routes.ApplicationFormController.paymentSubmit" class="btn btn-pink btn-large">Proceed to payment</a></div>
}