@(req : Form[Requirement])

@import helper.FieldConstructor

@implicitFormHelper = @{ FieldConstructor(persInfoFieldTemplate.f) }

<div id="rowHouseRequirement">
	<table id="rowHouseTable" class="fieldstable">
         <tr>
             <td style="width:300px;"><h4>If Row house and Independent bungalow/Farm House/Joint bungalow/Twin bungalow/Holiday Home/Villa/Pent House/Guest House</h4></td>
         </tr>
         <tr>
             <td style="width:300px;"><label>Builtup area required(sq.ft.)</label></td>
             <td>@helper.inputText(req("builtupArea"), 'class -> "input-medium", 'maxlength -> "9")</td>
         </tr>
         <tr>
             <td style="width:300px;"><label>Carpet Area required(sq.ft.)</label></td>
             <td>@helper.inputText(req("carpetArea"), 'class -> "input-medium", 'maxlength -> "9")</td>
         </tr>
         <tr>
             <td style="width:300px;"><label>Terrace area required in carpet(sq.ft.)</label></td>
             <td>@helper.inputText(req("terraceArea"), 'class -> "input-medium", 'maxlength -> "9")</td>
         </tr>
         <tr>
             <td style="width:300px;"><label>Open Space around the Buildup area(sq.ft.) </label></td>
             <td>@helper.inputText(req("openSpace"), 'class -> "input-medium", 'maxlength -> "9")</td>
         </tr>
         <tr>
             <td style="width:300px;"><label>Required Numbers of Bedrooms</label></td>
             <td>@helper.select(req("noOfBedrooms"), options = helper.options("1" -> "1",
                 "2" -> "2",
                 "3" -> "3",
                 "4" -> "4",
                 "5" -> "5",
                 "6" -> "6",
                 "7" -> "7",
                 "8" -> "8",
                 "9" -> "9",
                 "10" -> "10"
                 ), 'class -> "input-small")
             </td>
         </tr>
         <tr>
             <td style="width:300px;"><label>Specify Numbers of Toilet/WC/Bath</label></td>
             <td class="ReqVerticalRad">@form.verticalRadioGroupTool(req("toiletWcBathRequirements"), options = Seq("AsPerPlan" -> "No Extra Requirement, as per planning only", "Required" -> "Required"), checkedItem = "AsPerPlan")</td>
         </tr>
         <tr class="hideItClass row_toiletWcBathClass">
             <td style="width:300px;"><label>common toilets</label></td>
             <td>@helper.select(req("noOfCommonToilets"), options = helper.options("0" -> "0",
             	"1" -> "1",
                 "2" -> "2",
                 "3" -> "3",
                 "4" -> "4",
                 "5" -> "5",
                 "6" -> "6",
                 "7" -> "7",
                 "8" -> "8",
                 "9" -> "9",
                 "10" -> "10"
                 ), 'class -> "input-small")
             </td>
         </tr>
         <tr class="hideItClass row_toiletWcBathClass">
             <td style="width:300px;"><label>separate WC</label></td>
             <td>@helper.select(req("noOfSeparateWc"), options = helper.options("0" -> "0",
             	"1" -> "1",
                 "2" -> "2",
                 "3" -> "3",
                 "4" -> "4",
                 "5" -> "5",
                 "6" -> "6",
                 "7" -> "7",
                 "8" -> "8",
                 "9" -> "9",
                 "10" -> "10"
                 ), 'class -> "input-small")
             </td>
         </tr>
         <tr class="hideItClass row_toiletWcBathClass">
             <td style="width:300px;"><label>separate Bathroom</label></td>
             <td>@helper.select(req("noOfSeparateBathroom"), options = helper.options("0" -> "0",
             	"1" -> "1",
                 "2" -> "2",
                 "3" -> "3",
                 "4" -> "4",
                 "5" -> "5",
                 "6" -> "6",
                 "7" -> "7",
                 "8" -> "8",
                 "9" -> "9",
                 "10" -> "10"
                 ), 'class -> "input-small")
             </td>
         </tr>
         <tr>
             <td style="width:300px;"><label> Required Floor</label></td>
             <td>@helper.select(req("choiceOfFloor"), options = helper.options("0" -> "Ground",
                 "1" -> "1",
                 "2" -> "2",
                 "3" -> "3",
                 "4" -> "4"
                 ), 'class -> "input-small")
             </td>
         </tr>
     </table>
  	 <table class="fieldstable">
  	 	 <tr>
             <td style="width:300px;"><label>Required Garden Area(sq.ft.)</label></td>
             <td>@helper.inputText(req("gardenArea"), 'class -> "input-medium", 'maxlength -> "9")</td>
         </tr>
         <tr>
             <td style="width:300px;"><label>Other Details:(If required)</label></td>
             <td>@helper.inputText(req("otherDetails"), 'class -> "input-medium", 'maxlength -> "50")</td>
         </tr>
  	 </table>
  	 <script>
		$(document).ready(hideShowBathRequirementClass('hideItClass'));
	</script>
</div>