
<table class="fieldstable">
       <tr>
            <td><select style="width: 165px;" name="State" id="State" placeholder="Select States">
      </select></td>
           <td><select style="width: 130px;" name="District" id="District">
      </select></td>
           <td><select style="width: 130px;" name="Taluka" id="Taluka">
      </select></td>
            <td><select  style="width: 130px;" name="Pincode" id="Pincode">
      </select></td>
      <td style="text-align: center;" ><input style="visibility:hidden;" type="text" name="otherLocality"  placeholder="Locality" id="otherLocality" class="input-medium" maxlength="100"></td>
      <td><input style="width: 170px;" type="text"  name="Street" id="Street" placeholder="Enter Sub Locality" maxlength="100">
      </td>
       </tr>
       <tr>
       <td></td><td></td><td></td>
       <td style="text-align: left; "><input style="visibility:hidden,width: 100px;;" type="text" name="otherPincode"  pattern="[0-9]{6}" placeholder="6 Digit Pincode" id="otherPincode" class="input-small" pattern="[0-9]+" maxlength="6"></td>
   </tr>
</table>