@(user: User)
@mainTemplate("Proposed Society - Videos", user , routes.Assets.at("images/content/video.jpg")){
	<h1>Videos</h1>
	<hr/>
	<div>
		<div style="float: left; margin-left: 30px">
			<h2>Proposed Society Commercial</h2>
			<hr style="margin-top: 5px;"/>
			<iframe width="400" height="300" src="//www.youtube.com/embed/4cgf7ZIttJk" frameborder="0" allowfullscreen></iframe>
		</div>
		<div style="float: left; margin-left: 30px">
			<h2>Proposed Society Concept</h2>
			<hr style="margin-top: 5px;"/>
			<iframe width="400" height="300" src="//www.youtube.com/embed/fWAj8_MZ35s" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div style="clear: both;"></div>
}
